//respaldado en ./modals.scss
/*
@import "../../../scss/index.scss";

.modal-add-client__button {
  width: 150px;
  text-align: center;
  margin: 0 0 2% 8%;
}

.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  background: #f9fafc;
  border: 0px;
  border-radius: 2px;
}
*/
